<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <link rel="shortcut icon" href="app/assets/img/favicon.png">

  <title>COVID Report</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/todc-bootstrap/3.4.0-3.4.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/assets/css/style.css">
  <!-- <link  rel="stylesheet" href="app/assets/css/style-responsive.css"> -->
</head>

<body>
  <!-- container section start -->
  <section id="container">
    <div class="loader">
      <img class="loading-image" src="app/assets/img/loader.gif" alt="loading..">
    </div>
    <header class="header dark-bg">
      <a href="index.html" class="logo">COVID-19 Report</a>
    </header>

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper d-none">
        <!--overview start-->
        <div class="row" id="overview">
          <script type="text/html" id="overview-sc">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 cursor-pointer map-click" id="Confirmed">
            <a href="#ind-map">
              <div class="info-box white-bg">
                <div class="count facebook-color"><%=overview['Confirmed']%><span class="badge facebook-bg">+<%=overview['Delta_Confirmed']%></span></div>
                <div class="row">
                  <div class="ml-4 title facebook-color font-italic">Confirmed</div>
                  <div id="confirmed-spark"></div>
                </div>
              </div>
            </a>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 cursor-pointer map-click" id="Active">
            <a href="#ind-map">
              <div class="info-box white-bg">
                <div class="count yellow-color"><%=overview['Active']%></div>
                <div class="title yellow-color font-italic">Active</div>
              </div>
            </a>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 cursor-pointer map-click" id="Recovered">
            <a href="#ind-map">
              <div class="info-box white-bg">
                <div class="count green-color"><%=overview['Recovered']%><span class="badge green-bg">+<%=overview['Delta_Recovered']%></span></div>
                <div class="title green-color font-italic">Recovered</div>
              </div>
            </a>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 cursor-pointer map-click" id="Deaths">
            <a href="#ind-map">
              <div class="info-box white-bg">
                <div class="count red-color"><%=overview['Deaths']%><span class="badge red-bg">+<%=overview['Delta_Deaths']%></span></div>
                <div class="title red-color font-italic">Fatal</div>
              </div>
            </a>
            <!--/.info-box-->
          </div>
          <!--/.col-->
          </script>
        </div>
        <!--/.row-->
        <!--overview end-->

        <div class="card-deck my-3">
          <div class="card col-sm-12 col-md-5 px-0">
            <div class="card-body pb-0">
              <div class="d-flex align-items-center justify-content-between">
                <label class="mb-0 font-weight-bold font-italic">State-wise Distribution</label>
              </div>
              <div id="ind-map"></div>
            </div>
          </div>

          <div class="card col-sm-12 col-md-7 px-0" id="table-section">
            <div class="card-body pb-0 table-responsive">
                <table class="table">
                  <thead class="font-italic">
                    <tr>
                      <th>States</th>
                      <th class="facebook-color">Confirmed</th>
                      <th class="yellow-color">Active</th>
                      <th class="green-color">Recovered</th>
                      <th class="red-color">Fatal</th>
                      <th>Today's</th>
                    </tr>
                  </thead>
                  <tbody class="states">
                    <script type="text/html" id="state-table">
                      <% _.each(table_data, function(d){ %>
                      <tr>
                        <td class="font-italic"><%=d['State']%></td>
                        <td class="td-bar facebook-color cursor-pointer map-click" id="Confirmed">
                          <div class="progress thin">
                            <div class="progress-bar facebook-bg" role="progressbar" aria-valuenow="<%=(d['Confirmed']/max_data['Confirmed'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Confirmed']/max_data['Confirmed'])*100%>%"></div>
                            <div class="progress-bar white-bg" role="progressbar" aria-valuenow="<%=(1-(d['Confirmed']/max_data['Confirmed']))*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(1-(d['Confirmed']/max_data['Confirmed']))*100%>%"></div>
                          </div>
                          <%=d['Confirmed']%>
                        </td>
                        <td class="td-bar yellow-color cursor-pointer map-click" id="Active">
                          <div class="progress thin">
                            <div class="progress-bar yellow-bg" role="progressbar" aria-valuenow="<%=(d['Active']/max_data['Confirmed'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Confirmed']/max_data['Confirmed'])*100%>%"></div>
                            <div class="progress-bar white-bg" role="progressbar" aria-valuenow="<%=(1-(d['Active']/max_data['Confirmed']))*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(1-(d['Confirmed']/max_data['Confirmed']))*100%>%"></div>
                          </div>
                          <%=d['Active']%>
                        </td>
                        <td class="td-bar green-color cursor-pointer map-click" id="Recovered">
                          <div class="progress thin">
                            <div class="progress-bar green-bg" role="progressbar" aria-valuenow="<%=(d['Confirmed']/max_data['Confirmed'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Confirmed']/max_data['Confirmed'])*100%>%"></div>
                            <div class="progress-bar white-bg" role="progressbar" aria-valuenow="<%=(1-(d['Confirmed']/max_data['Confirmed']))*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(1-(d['Confirmed']/max_data['Confirmed']))*100%>%"></div>
                          </div>
                          <%=d['Recovered']%>
                        </td>
                        <td class="td-bar red-color cursor-pointer map-click" id="Deaths">
                          <div class="progress thin">
                            <div class="progress-bar red-bg" role="progressbar" aria-valuenow="<%=(d['Deaths']/max_data['Confirmed'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Deaths']/max_data['Confirmed'])*100%>%"></div>
                            <div class="progress-bar white-bg" role="progressbar" aria-valuenow="<%=(1-(d['Deaths']/max_data['Confirmed']))*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(1-(d['Deaths']/max_data['Confirmed']))*100%>%"></div>
                          </div>
                          <%=d['Deaths']%>
                        </td>
                        <td class="td-bar">
                          <div class="progress thin">
                            <div class="progress-bar facebook-bg" role="progressbar" aria-valuenow="<%=(d['Delta_Confirmed']/d['Delta_Total'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Delta_Confirmed']/d['Delta_Total'])*100%>%">
                            </div>
                            <div class="progress-bar green-bg" role="progressbar" aria-valuenow="<%=(d['Delta_Recovered']/d['Delta_Total'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Delta_Recovered']/d['Delta_Total'])*100%>%">
                            </div>
                            <div class="progress-bar red-bg" role="progressbar" aria-valuenow="<%=(d['Delta_Deaths']/d['Delta_Total'])*100%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(d['Delta_Deaths']/d['Delta_Total'])*100%>%">
                            </div>
                          </div>
                          <div class="row m-0 todays-bar">
                              <span style="width: 33.33%;" class="text-center facebook-color"><%=d['Delta_Confirmed']%></span>
                              <span style="width: 33.33%;" class="text-center green-color"><%=d['Delta_Recovered']%></span>
                              <span style="width: 33.33%;" class="text-center red-color"><%=d['Delta_Deaths']%></span>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </script>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="card-deck my-3">
          <div class="card col-sm-12 col-md-5 px-0">
            <div class="card-body" id="pie-section">
              <script type="text/html" id="pie-script">
                <div class="d-flex align-items-center justify-content-between">
                  <label class="mb-0 fs-b fs-12 ls-5 font-weight-bold font-italic">Overall Test Conducted</label>
                </div>
                <div class="mt-3">
                  <div class="row">
                    <div class="col-sm-6 col-md-6" id="pie_div1"></div>
                    <div class="col-sm-6 col-md-6" id="pie_div2"></div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center fs-10 text-color3">
                    <div class="d-flex align-items-center justify-content-center font-italic">
                      <span>
                        <span class="circle-sm facebook-bg"></span>
                        <span class="pl-1">Confirmed</span>
                      </span>
                      <span class="pl-2">
                        <span class="circle-sm green-bg"></span>
                        <span class="pl-1">Recovered</span>
                      </span>
                      <span class="pl-2">
                        <span class="circle-sm red-bg"></span>
                        <span class="pl-1">Fatal</span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center fs-10 text-color3">
                    <div class="d-flex align-items-center justify-content-center font-italic">
                      <span>
                        <span class="circle-sm q1-bg"></span>
                        <span class="pl-1">In Quarantine</span>
                      </span>
                      <span class="pl-2">
                        <span class="circle-sm q2-bg"></span>
                        <span class="pl-1">Released From Quarantine</span>
                      </span>
                    </div>
                  </div>
                </div>
              </script>
            </div>
          </div>
          <div class="card col-sm-12 col-md-7 px-0">
            <div class="card-body" id="bar-section">
              <script type="text/html" id="bar-script">
                <div class="d-flex align-items-center justify-content-between">
                  <label class="mb-0 fs-b fs-12 ls-5 font-weight-bold font-italic">Spread & Test Over Time</label>
                </div>
                <div class="d-flex align-items-center fs-10 text-color1 fs-i font-italic">
                  <span>Lines: No. of Cases</span>
                  <span class="ml-3">Bars: No. of Tests</span>
                </div>
                <div class="mt-3" id="bar_div"></div>
                <div class="d-flex align-items-center justify-content-center fs-10 text-color3">
                  <div class="d-flex align-items-center justify-content-center font-italic">
                    <span>
                      <span class="circle-sm facebook-bg"></span>
                      <span class="pl-1">Confirmed</span>
                    </span>
                    <span class="pl-2">
                      <span class="circle-sm green-bg"></span>
                      <span class="pl-1">Recovered</span>
                    </span>
                    <span class="pl-2">
                      <span class="circle-sm red-bg"></span>
                      <span class="pl-1">Fatal</span>
                    </span>
                    <span class="pl-2">
                      <span class="circle-sm test-bg"></span>
                      <span class="pl-1">Tests</span>
                    </span>
                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
      </section>
      <div class="text-right my-0 mr-3">
        <div class="credits">
          Designed by Ashok Thakur
        </div>
      </div>
    </section>
    <!--main content end-->
  </section>
  <!-- container section start -->

  <!-- javascripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script src="app/js/components/sparkline.js"></script>
  <script src="app/js/components/map.js"></script>
  <script src="app/js/components/pie.js"></script>
  <script src="app/js/components/bar-line.js"></script>
  <script src="app/js/scripts.js"></script>
</body>
</html>
